@use '@styles/patterns/colors.scss' as color;
@use '@styles/patterns/mixins/flex.module.scss' as mixins;
@use '@styles/patterns/variables.scss' as variable;

.headerStyle {
    @include mixins.flex($justify: space-around, $gap: 1rem);
    background-color: color.$rectangle-color ;
    background-image: url('@assets/flocos.png');
    background-size: contain;
    background-clip: border-box;
    background-position: center;
    justify-content: space-between;
    padding: .2rem;
    color: color.$text-color;
    font-family: variable.$greatVibes;
    font-size: variable.$fontH1;
    font-weight: 400;
}

.sectionLogo {
    @include mixins.flex($justify: space-around);

    h1 {
        color: color.$text-color;
        font-family: variable.$greatVibes;
        font-size: variable.$fontH1;
        font-weight: 400;
    }

    img {
        width: 5rem;
    }
}