@use '@styles/patterns/mixins/mixins.scss' as mixins;
@use '@styles/patterns/colors.scss' as color;
@use '@styles/patterns/variables.scss' as variable;


.homeStyle{
    @include mixins.flex($align: center, $justify: center);
}

.curiosityStyle{
    background-color: color.$rectangle-color;
    background-image: url('@assets/flocos.png');
    background-position: center;
    background-size: contain;
    color: color.$text-color;
    font-family: variable.$inriaSans;
    font-size: variable.$fontH3;
    padding: 1rem;

    @include mixins.flex($align: center, $justify: space-around);

    p{
        width: 60%;
    }

    img{
        width: 15vw;
    }

    @include mixins.queryMobile{
        @include mixins.flex($direction: column, $align: center, $gap: 1rem);
        p{
            width: 80%;
            text-align: center;
        }
        img{
            width: 40vw;
        }
    }

    @include mixins.queryTablet{
        p{
            width: 50%;
            text-align: center;
        }
        img{
            width: 25vw;
        }
    }
}

.galleryStyle{
    @include mixins.flex($align: center, $justify: center);
    background-color: color.$galeria;

    ul{
        width: 100%;
        @include mixins.flex($gap:2rem, $justify: space-evenly, $direction: row);
        overflow: hidden;
    }

    img{
        width: 20vw;
    }
    // //import do swipper

    // .swiper {
    //     width: 100%;
    //     height: 100%;
    //   }
      
    //   .swiper-slide {
    //     background-position: center;
    //     background-repeat: no-repeat;
    //   }
      
    //   .swiper-slide img {
    //     display: block;
    //     width: 100%;
    //   }

    @include mixins.queryMobile{
        ul{
            @include mixins.flex($gap:1rem, $justify: space-between, $direction: column);
        }
        img{
            width: 40vw;
        }
    }
}