@use '@styles/patterns/mixins/mixins.scss' as mixins;
@use '@styles/patterns/colors.scss' as color;
@use '@styles/patterns/variables.scss' as variable;


.homeStyle{
    height: 85vh;
    background-image: url('@assets/capa.png');
    background-position: center;
    background-size: 101%;
    background-repeat: no-repeat;
    overflow: hidden;
    @include mixins.queryMobile{
        height: 25vh;
    }
    @include mixins.queryTablet{
        height: 60vh;
    }
}

.curiosityStyle{
    border: solid orangered;
    background-color: color.$rectangle-color;
    background-image: url('@assets/flocos.png');
    background-position: center;
    background-size: contain;
    color: color.$text-color;
    font-family: variable.$inriaSans;
    font-size: variable.$fontH3;
    padding: 1rem;

    @include mixins.flex($align: center, $justify: space-around);

    p{
        width: 60%;
    }

    img{
        width: 10vw;
    }

    @include mixins.queryMobile{
        @include mixins.flex($direction: column, $align: center, $gap: 1rem);
        p{
            width: 80%;
            text-align: center;
        }
        img{
            width: 30vw;
        }
    }

    @include mixins.queryTablet{
        p{
            width: 50%;
            text-align: center;
        }
        img{
            width: 20vw;
        }
    }
}

.galleryStyle{
    border: solid green;
}