@use '@styles/patterns/mixins/mixins.scss' as mixins;
@use '@styles/patterns/colors.scss' as color;

.sectionUl {
    @include mixins.flex($align: center, $justify: space-evenly, $gap: 5vw);

    padding: 1rem;
}

.cursorPointer {
    cursor: pointer;

    a {
       color: color.$text-color;
    }
}

.cursorHover {
    &:hover { color: color.$galeria; }
}