//Variaveis do tipo de fonte
$greatVibes: "Great Vibes", serif;
$inriaSans: "Inria Sans", serif;

//variaveis de tamanho da fonte
$fontH1: clamp(1.2rem, 5vw, 3.5rem);
$fontH2: clamp(1.2rem, 5vw, 3rem);
$fontH3: clamp(1.2rem, 5vw, 2rem);

//variaveis de breakpoint
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;